.card {
    border: 1px solid #333;
    padding: 20px;
    min-width: 200px;
    position: relative;
    border-radius: 20px;
    background-color: #f0f8ff;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
}