.modalOverlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.5s ease;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  width: 90%;
  max-width: 500px;
  animation: slideUp 0.5s ease forwards;
  margin-top: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    margin-bottom: 0;
  }
  to {
    margin-bottom: 50vh;
  }
}

.input {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.textarea {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    min-width: 150px;
    cursor: pointer;
    &:first-child {
      margin-bottom: 20px;
    }
  }
}
